@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Slackside+One&display=swap');

@font-face {
  font-family: 'SlacksideOne-Regular.ttf';
  font-family: "Slackside One", cursive;
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/SlacksideOne-Regular.ttf) format('ttf');
}

.max-md\:nx-prose-sm {
  font-size: 1.6rem;
  line-height: 1.71429;
} 


body {
  font-family: "Slackside One";
  font-size: 1.3rem;
  font-style: normal;
  /* background: #ffffff url("https://unsplash.com/photos/WeYamle9fDM") no-repeat right top; */
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
/*   .max-md\:nx-prose-sm {
    font-size: 0.3rem;
    line-height: 1.71429;
  }  */
  
}



details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}



